

.sezione_centrale img {
    display: block;
    width: 100%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sezione_centrale {
    padding-top: 20px;
}

.form_row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}

.button_form {
    display: flex;
    justify-content: center;
}

.button_form button{
    width: 15%;
    background-color: #6a9ca6;
    color: #dffbff;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    margin: 0 75px 0 75px;
    border: 1px solid #196e5c;
    border-radius: 5px;
    cursor: pointer;
}


.form_row label {
    font-size: 14px;
    margin-bottom: 5px;
}
.form_row input {
    font-size: 12px;
    padding: 5px;
}

/* Mobile Styles*/
@media only screen and (max-width: 414px) {
    .sezione_centrale img {
        max-width: 414px;
    }
    
    .sez_sx,
    .sez_dx {
        padding: 10px;
    }
}


/* Tablet Styles */
@media only screen and (min-width: 768px) {
    .sezione_centrale img {
        max-width: 768px;
    }
    
    picture {
        display: flex;
        justify-content: center;
    }
    
    .sez_sx,
    .sez_dx {
        padding: 10px;
        margin-top: 5%;   
    }

    .form_row {
        margin-left: 120px;
        margin-right: 120px;
    }

    .button_form {
        justify-content: flex-end;
        margin-right: 50px;
    }
}

/* Large devices */

@media only screen and (min-width:992px) {
    .sezione_centrale img {
        max-width: 1024px;
    }

    .sez_sx,
    .sez_dx {  
        padding: auto;
        margin-top: 5%;
    } 

    .form_row {
        margin-left: 240px;
        margin-right: 240px;
    }

    .button_form {
        justify-content: flex-end;
        margin-right: 240px;
    }

}

/*Large device > 1300px*/

@media only screen and (min-width:1300px) {
     
    .sezione_centrale img {
        max-width: 1024px;
    }

    .sez_sx,
    .sez_dx {  
        display: flex;
    } 

    .descrizione {
        display: flex;
        flex-direction: column;
        flex:2;
        justify-content: center;
        padding: 20px;
    }

    .descrizione_sx {
        order: -1;
    }

    .form_row {
        margin-left: 360px;
        margin-right: 360px;
    }
    .button_form {
        justify-content: flex-end;
        margin-right: 360px;
    }

}